// ================================================================================
// GLOBAL STYLING
// ================================================================================

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height plus a 'margin-top: 15px' */
  margin-bottom: calculate-rem($footer-height + $footer-margin-top);
}

#main-nav .navbar-collapse .navbar-nav .nav-item .nav-link {
  cursor: pointer;
}

h2 {
  @include tester-font2;
}

hr {
  border-color: $secondary;
}

hr.light {
  border-color: $light;
}

.fa-padding {
  padding-left: calculate-rem(4px);
  padding-right: calculate-rem(4px);
}

.button-facebook,
.button-google {
  line-height: 1.2;
  width: calculate-rem(116px);
  height: calculate-rem(40px);
  border-radius: calculate-rem(3px);
  border: calculate-rem(1px) solid #B8B8B8;
  background-color: #ffffff;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.button-facebook {
  color: #3b5998;
}

.button-facebook i {
  font-size: calculate-rem(20px);
  margin-right: calculate-rem(10px);
  padding-bottom: calculate-rem(1px);
}

.button-google {
  color: #555555;
}

.button-google img {
  width: calculate-rem(19px);
  margin-right: calculate-rem(10px);
  padding-bottom: calculate-rem(1px);
}

.button-facebook:hover,
.button-google:hover {
  border-color: #EEEEE0;
}

.btn-width-one-quarter {
  width: 25%;
}

.btn-width-one-third {
  width: 33%;
}

.btn-width-one-half {
  width: 50%;
}

.btn-width-three-quarters {
  width: 75%;
}

.font-weight-bold {
  font-weight: bold;
}

.font-weight-600 {
  font-weight: 600;
}

.font-size-smaller-90 {
  font-size: 90%;
}

// ---------------------------------------------------------------
// GLOBAL @imports
// ---------------------------------------------------------------

// FONTS
@import "./global-fonts.scss";

// BACKGROUNDS
@import "./global-backgrounds.scss";

// COLORS
@import "./global-colors.scss";
